@model WebsiteShop.Shop.Models.PaginationSearchInput
@{
    ViewBag.Title = "Shop Page";
}

<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">           
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form id="frmSearchInput" action="~/Product/Search" method="get">
                            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />
                            <input name="@nameof(Model.SearchValue)" value="@Model.SearchValue"
                                type="text" placeholder="Tìm kiếm mặt hàng" autofocus="">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/_LayoutOrgan/img/bn1.png")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>KK SHOP</h2>
                    <div class="breadcrumb__option">
                        <a href="~/Home">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Product Section Begin -->
      <div id="searchResult">
      </div>
<!-- Product Section End -->
@section scripts {
    <script>
        function doSearch(page) {
            var searchCondition = $("#frmSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });

            var action = $("#frmSearchInput").prop("action");
            var method = $("#frmSearchInput").prop("method");

            $.ajax({
                url: action,
                type: method,
                data: searchCondition,
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });
        }

        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#frmSearchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
            });

            })
    </script>
}
